.split-pane{
    -fx-background-color: #E3E7EF;
}
.split-pane > .split-pane-divider {
    -fx-background-color: #6d9ce3;
    -fx-border-width: 1px;
    -fx-background-radius: 15px;
    -fx-background-insets: 10 0 10 0;
}
.button{
    -fx-text-fill: #E5E9ee;
    -fx-background-radius: 20;
    -fx-background-color: #AEC4E6;
    -fx-font-weight: bold;
}
.button:hover{
    -fx-text-fill: white;
    -fx-background-color: #6D9CE3;
    -fx-font-weight: bold;
}
.button:pressed{
    -fx-background-color: #1F003D;
    -fx-text-fill: #e5e9ee;
}
.left-vbox{
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}
.text-area{
    -fx-focus-color: transparent;
    -fx-font-size: 16;
    -fx-text-fill: #042960;
    -fx-padding: 20 10 20 10;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-color: #125ccb;
    -fx-background-color: white;
}
.text-area .content {
    -fx-padding: 10px;
}
.text-area .scroll-bar:vertical {
    -fx-pref-width: 15px;
    -fx-background-color: transparent;
}
.text-area .scroll-bar:vertical .thumb {
    -fx-background-color: #125ccb;
    -fx-background-radius: 5px;
}
.text-area:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.text-area .scroll-bar:vertical .track {
    -fx-background-color: transparent; /* Track color */
}

.text-area:selected{
    -fx-border-color: transparent;
}

.vbox-web-view{
    -fx-background-color: transparent;
    -fx-padding: 10px;
}
.vbox{
    -fx-background-color: #e3e7ef;
}
